<header class="fixed top-0 left-0 right-0 flex justify-between items-center px-4 h-16 bg-white shadow-md z-50 border-b border-outline-variant/20">

  @if (mostrarRegresar) {
    <button
      type="button"
      (click)="regresar()"
      class="text-primary hover:bg-surface-container-low transition-colors active:scale-95 p-2 rounded-full flex items-center justify-center">
      <span class="material-symbols-outlined">arrow_back</span>
    </button>
  } @else {
    <div class="w-10"></div>
  }

  <h1 class="font-bold text-primary text-lg" style="font-family: 'Montserrat', sans-serif;">
    {{ titulo }}
  </h1>

  @if (mostrarNotificaciones) {
    <button
      type="button"
      (click)="abrirNotificaciones()"
      class="text-primary hover:bg-surface-container-low transition-colors active:scale-95 p-2 rounded-full flex items-center justify-center">
      <span class="material-symbols-outlined">notifications</span>
    </button>
  } @else {
    <div class="w-10"></div>
  }

</header>
