<nav class="w-full max-w-[360px] flex justify-between items-center px-3 py-2 bg-inverse-surface shadow-2xl rounded-full">
  <a routerLink="/home"
     class="flex flex-col items-center justify-center transition-all active:scale-90 duration-200 w-16 h-12"
     [class.text-white]="rutaActiva === '/home'"
     [class.text-outline-variant]="rutaActiva !== '/home'">
    <span class="material-symbols-outlined text-[24px]">home</span>
  </a>
  <a routerLink="/map"
     class="flex flex-col items-center justify-center transition-all active:scale-90 duration-200 w-16 h-12"
     [class.text-white]="rutaActiva === '/map'"
     [class.text-outline-variant]="rutaActiva !== '/map'">
    <span class="material-symbols-outlined text-[24px]">map</span>
  </a>
  <a routerLink="/reports/create-report"
     class="flex flex-col items-center justify-center transition-all active:scale-90 duration-200 w-16 h-12"
     [class.bg-secondary-container]="rutaActiva === '/reports/create-report'"
     [class.text-on-secondary-container]="rutaActiva === '/reports/create-report'"
     [class.rounded-full]="rutaActiva === '/reports/create-report'"
     [class.w-20]="rutaActiva === '/reports/create-report'"
     [class.text-outline-variant]="rutaActiva !== '/reports/create-report'">
    <span class="material-symbols-outlined text-[26px]" style="font-variation-settings: 'FILL' 1;">emergency_share</span>
  </a>
  <a routerLink="/profile"
     class="flex flex-col items-center justify-center transition-all active:scale-90 duration-200 w-16 h-12"
     [class.bg-secondary-container]="rutaActiva === '/profile'"
     [class.text-on-secondary-container]="rutaActiva === '/profile'"
     [class.rounded-full]="rutaActiva === '/profile'"
     [class.w-20]="rutaActiva === '/profile'"
     [class.text-outline-variant]="rutaActiva !== '/profile'">
    <span class="material-symbols-outlined text-[24px]" style="font-variation-settings: 'FILL' 1;">person</span>
  </a>
</nav>
